/* common shared styles */
*{
    margin: 0;
    
}
body {
    font-family: "Open Sans", sans-serif;

}

.primary-color {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    color: white ;
    padding: 15px 30px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

/* nav related styles */
nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.nav-title {
    font-size: 45px;
    color: #181818;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related styles */
.header{
    background-color: #FFF8F3;
    padding-top: 20px;
}
.banner{
    margin: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 500px;
}