/* common shared styles */
body {
    font-family: "Open Sans", sans-serif;
}

.primary-color {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    color: #D9D9D9 ;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 60px;
    font-size: 20px;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 45px;
    color: #181818;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}